@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@300;400&display=swap');

/*
padding
border
margin
*/

nav ul {
  padding-left: 0;
  list-style-type: none;
}

nav li{
  display:inline-block;
  margin-right:20px;
  background-color: #eee;
  padding: 5px;
  box-shadow: 7px 7px #1829ED;
}

body {
  font-family:"Roboto","Arial","Helvetica",sans-serif;
  font-weight: 300;
  color:#1829ED;
}

h1{
  font-family:"Dela Gothic One",serif;
  font-size: 72px;
  color:#262628;
}

h2,
h3 {
  font-family: "Roboto","Arial",serif;
  font-weight: 400;
  color:#1829ED;
}

p,
li {
  color:#4F4F53;
}

nav li {
  list-style-type: decimal-leading-zero;
}

section {
  background-color: #eee;
}

#intro,
#communications{
  background-color:#C4C4F3;
}

#geography,
#transportation{
  background-color:#D5D5D7;
}

.highlight {
  background-color:#E4E4FC;
  font-weight:bold;
  font-style: italic;
}

a:link{
  color:#0000FF;
}

a:visited{
  color:#102066;
}

a:active{
  color:#4D64CB
}

nav li:hover{
  background-color: #F7F8FC
}

#wrapper{
  width: 960px;
  margin-left: auto;
  margin-right: auto;

  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "header    header"
  "nav   main"
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;

  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "geography  geography"
  "communications  communications"
  "transportation  transportation"
}

#geography{
  grid-area: Geography
}

#communications{
  grid-area: Communications
}

#transportation{
  grid-area: transportation
}
